@charset "UTF-8";
/* CSS Document */

.header{
  margin: 0 auto 90px;
  background-image: url("../images/top/Background_L.png");
  background-position: top;
  background-size: auto 99%;
  background-repeat: repeat-x;
}
.header__navigation{
  height: 80px;
  max-width: 1040px;
  margin: 0 auto;
  text-align: right;
  position: relative;
  padding:26px 0px 27px 0px;
}
.header__navigation h1 a{
  font-family: "vdl-penletter", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  color: #9f9e18;
  position: absolute;
  top: 10px;
  left: 10px;
  text-decoration: none;
}
.header__navigation h1 a img{
  object-fit: contain;
  object-position: center;
  width: 256px;
  height: 54.4px;
}
.header__navigation ul{
  margin-right: 10px;
}
.header__navigation ul li{
  display: inline-block;
  margin-left: 40px;
}
.header__navigation ul li a{
  font-family: "vdl-v7marugothic", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  text-decoration: none;
  color: #333333;
}
.header__navigation ul li a:visited{
  color: #333333;
}
.header__navigation ul li a:hover{
  color: #7484d9;
  opacity: 1;
}

.header__top{
  margin: 0 auto;
}
.header__top-image{
  max-width: 1270px;
  height: 506px;
  margin: 0 auto 105px;
  background-image: url("../images/top/TopImage.png");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.header__top-image h2{
  max-width: 1040px;
  padding: 20px 0px 0 50px;
  margin: 0 auto;
  font-family: "vdl-penletter", sans-serif;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}
.header__top-description {
  max-width:1040px;
  margin: 0 auto ;
  padding-bottom: 25px;
}
.header__top-description p{
  font-family: "vdl-penletter", sans-serif;
  font-weight: 700;
  font-size: 2.0rem;
}

@media (min-width: 481px) and (max-width: 768px){ /*iPad用の設定*/
  .header__navigation ul li{
    margin-left: 20px;
  }
  .header__navigation ul li a{
    font-size: 1.6rem;
  }
}
@media (max-width: 768px){ /*iPad,mobile用の設定*/
  .header{
    margin: 0 auto 70px;
    background-image: url("../images/top/Background_mobile_L.png");
    background-position: top;
    background-size: auto 373px;
    background-repeat: repeat-x;
  }
  .header__top{
    margin: 0 auto;
  }
  .header__navigation{
    height: 36px;
    max-width: 768px;
    margin: 0 auto;
    text-align: right;
    position: relative;
    padding: 5px 0px 10px 0px;
  }
  .header__navigation h1 a {
    font-size: 1.8rem;
    color: #9f9e18;
    position: absolute;
    top: 1px;
    left: 5px;
  }
  .header__navigation h1 a img{
    width: 160px;
    height: 34px;
  }
  .header__top-image{
    max-width: 768px;
    height: 268px;
    margin: 0 auto 30px;
    background-image: url("../images/top/TopImage_mobile_L.png");
    background-position: top;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  .header__top-image h2{
    max-width: 375px;
    padding: 5px 0px 0 10px;
    margin: 0 auto;
    font-family: "vdl-penletter", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: left;
    color: #ffffff;
  }
  .header__top-description p{
    font-family: "vdl-penletter", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
  }
}
@media (max-width: 480px){ /*mobileの設定*/
  .header__navigation{
    position: relative;
  }

  #nav-drawer{
    position: absolute;
    margin: 0;
    top: 7px;
    right: 0;
  }
  #nav-open{
    display: inline-block;
    width: 40px;
    height: 21px;
    cursor: pointer;
  }
  #nav-open span,#nav-open span:before,#nav-open span:after{
    width: 20px;
    height: 2px;
    background-color: #333333;
    position: absolute;
    right: 10px;
    top: 4px;
    display: block;
    content: "";
    border-radius: 10px;
  }
  #nav-open span:before{
    top: 6px;
    right: 0px;
  }
  #nav-open span:after{
    top: 12px;
    right: 0px;
  }
  #nav-open:hover span, #nav-open:hover span::before , #nav-open:hover span::after{
    background-color: #7484d9;
  }
  #nav-close{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
  }
  #nav-drawer__content{
    z-index: 9999;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    text-align: left;
    padding: 15px 0 0 24px;
    transform: translateX(-110%);
    transition: 0.3s ease-in-out;
    box-shadow: 5px 0 25px rgba(0, 0, 0, 0.25);
  }
  #nav-drawer__content-title{
    display: block;
    font-family: "vdl-penletter", sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #9f9e18;/*#171a82;*/
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .header__navigation ul{
    margin-right: 24px;
    padding-top: 32px;
  }
  .header__navigation ul li{
    display: block;
    margin-left: 0px;
  }
  .header__navigation ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: "vdl-v7marugothic", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 3.0;
    text-decoration: none;
    color: #333333;
  }

  #nav-input:checked ~ #nav-close {
    display: block;
  }
  #nav-input:checked ~ #nav-drawer__content {
    transform: translateX(0%);
  }

  .header__top-description {
    max-width:375px;
    margin: 0 auto ;
    padding: 0;
  }
  .header__top-description .break-point:after {
    content: "\A"; /*具体的な記述の追加、内容は\A（改行を意味する）*/
    white-space: pre; /*コードの上の改行は半角スペースになる。半角スペースを改行として表示するための記述。*/
  }
}

/*
  about
*/

.about{
  max-width: 1040px;
  margin: 0 auto 100px;
}
.about__title{
  width: 151px;
  height: 52px;
  margin: 0 0 20px 24px;
  background-image: url("../images/top/About_Background.png");
  background-position: center;
  background-size: cover;
}
.about__title h2{
  font-family: "vdl-v7marugothic", sans-serif;
  font-weight: 600;
  max-width: 1040px;
  padding: 17px 0 0 26px;
  text-align: left;
}
.about__description {
  padding-bottom: 56px;
}
.about__description p{
  text-align: left;
  padding-bottom: 20px;
  padding-left: 62px;
}
.about__detail-histroy-switch{
  display: none;
}

/*開閉ボタン*/
.switch-open-label{
  display: block;
  width: 180px;
  font-size: 1.4rem;
  line-height: 34px;
  text-align: center;
  background-color: #ffffff;
  padding: 0;
  margin: 0 auto;
  position: relative;
}
.switch-open-label span{
  display: block;
  width: 180px;
  height: 36px;
  position: absolute;
  top: -1px;
  left: -1px;
  border: solid 1px #7484d9;
  border-radius: 36px;
  transform-style: preserve-3d;
}
.switch-open-label:hover span:nth-child(1){
  animation: rotatedown1 4s infinite;
}
.switch-open-label:hover span:nth-child(2){
  animation: rotatedown2 4s infinite;
}
@keyframes rotatedown1 {
  0%{
    background: #fff;
    transform: rotateX(0deg);
    transform-origin: 0 50%  -18px;
  }
  5%{
    background: #fff;
    transform: rotateX(0deg);
    transform-origin: 0 50%  -18px;
  }
  25%{
    background: #fff;
    transform: rotateX(-90deg);
    transform-origin: 0 50%  -18px;
  }
  30%{
    background: #fff;
    transform: rotateX(-90deg);
    transform-origin: 0 50%  -18px;
  }
  30.1%{
    background: #fff;
    transform: rotateX(90deg);
    transform-origin: 0 50%  -18px;
  }
  50%{
    background: #fff;
    transform: rotateX(0deg);
    transform-origin: 0 50%  -18px;
  }
  55%{
    background: #fff;
    transform: rotateX(0deg);
    transform-origin: 0 50%  -18px;
  }
  75%{
    background: #fff;
    transform: rotateX(-90deg);
    transform-origin: 0 50%  -18px;
  }
  80%{
    background: #fff;
    transform: rotateX(-90deg);
    transform-origin: 0 50%  -18px;
  }
  80.1%{
    background: #fff;
    transform: rotateX(90deg);
    transform-origin: 0 50%  -18px;
  }
  100%{
    background: #fff;
    transform: rotateX(0deg);
    transform-origin: 0 50%  -18px;
  }
}
@keyframes rotatedown2 {
  0%{
    background: #7484d9;
    color: #fff;
    transform: rotateX(90deg);
    transform-origin: 0 50%  -18px;
  }
  5%{
    background: #7484d9;
    color: #fff;
    transform: rotateX(90deg);
    transform-origin: 0 50%  -18px;
  }
  25%{
    background: #7484d9;
    color: #fff;
    transform: rotateX(0deg);
    transform-origin: 0 50%  -18px;
  }
  30%{
    background: #7484d9;
    color: #fff;
    transform: rotateX(0deg);
    transform-origin: 0 50%  -18px;
  }
  50%{
    background: #7484d9;
    color: #fff;
    transform: rotateX(-90deg);
    transform-origin: 0 50%  -18px;
  }
  55%{
    background: #7484d9;
    color: #fff;
    transform: rotateX(-90deg);
    transform-origin: 0 50%  -18px;
  }
  55.1%{
    background: #7484d9;
    color: #fff;
    transform: rotateX(90deg);
    transform-origin: 0 50%  -18px;
  }
  75%{
    background: #7484d9;
    color: #fff;
    transform: rotateX(0deg);
    transform-origin: 0 50%  -18px;
  }
  80%{
    background: #7484d9;
    color: #fff;
    transform: rotateX(0deg);
    transform-origin: 0 50%  -18px;
  }
  100%{
    background: #7484d9;
    color: #fff;
    transform: rotateX(-90deg);
    transform-origin: 0 50%  -18px;
  }
}

/*ラベルに表示するテキスト*/
.switch-open-label span::after{
  content:"履歴を開く";
}
.about__detail-histroy-switch:checked ~ .switch-open-label span::after{
  content: "履歴を閉じる";
}
.about__detail-histroy-switch:checked ~ .switch-open-label:hover span:nth-child(1){
  animation: rotateup1 4s infinite;
}
.about__detail-histroy-switch:checked ~ .switch-open-label:hover span:nth-child(2){
  animation: rotateup2 4s infinite;
}
@keyframes rotateup1 {
  0%{
    background: #fff;
    transform: rotateX(0deg);
    transform-origin: 0 50%  -18px;
  }
  5%{
    background: #fff;
    transform: rotateX(0deg);
    transform-origin: 0 50%  -18px;
  }
  25%{
    background: #fff;
    transform: rotateX(90deg);
    transform-origin: 0 50%  -18px;
  }
  30%{
    background: #fff;
    transform: rotateX(90deg);
    transform-origin: 0 50%  -18px;
  }
  30.1%{
    background: #fff;
    transform: rotateX(-90deg);
    transform-origin: 0 50%  -18px;
  }
  50%{
    background: #fff;
    transform: rotateX(0deg);
    transform-origin: 0 50%  -18px;
  }
  55%{
    background: #fff;
    transform: rotateX(0deg);
    transform-origin: 0 50%  -18px;
  }
  75%{
    background: #fff;
    transform: rotateX(90deg);
    transform-origin: 0 50%  -18px;
  }
  80%{
    background: #fff;
    transform: rotateX(90deg);
    transform-origin: 0 50%  -18px;
  }
  80.1%{
    background: #fff;
    transform: rotateX(-90deg);
    transform-origin: 0 50%  -18px;
  }
  100%{
    background: #fff;
    transform: rotateX(0deg);
    transform-origin: 0 50%  -18px;
  }
}
@keyframes rotateup2 {
  0%{
    background: #7484d9;
    color: #fff;
    transform: rotateX(-90deg);
    transform-origin: 0 50%  -18px;
  }
  5%{
    background: #7484d9;
    color: #fff;
    transform: rotateX(-90deg);
    transform-origin: 0 50%  -18px;
  }
  25%{
    background: #7484d9;
    color: #fff;
    transform: rotateX(0deg);
    transform-origin: 0 50%  -18px;
  }
  30%{
    background: #7484d9;
    color: #fff;
    transform: rotateX(0deg);
    transform-origin: 0 50%  -18px;
  }
  50%{
    background: #7484d9;
    color: #fff;
    transform: rotateX(90deg);
    transform-origin: 0 50%  -18px;
  }
  55%{
    background: #7484d9;
    color: #fff;
    transform: rotateX(90deg);
    transform-origin: 0 50%  -18px;
  }
  55.1%{
    background: #7484d9;
    color: #fff;
    transform: rotateX(-90deg);
    transform-origin: 0 50%  -18px;
  }
  75%{
    background: #7484d9;
    color: #fff;
    transform: rotateX(0deg);
    transform-origin: 0 50%  -18px;
  }
  80%{
    background: #7484d9;
    color: #fff;
    transform: rotateX(0deg);
    transform-origin: 0 50%  -18px;
  }
  100%{
    background: #7484d9;
    color: #fff;
    transform: rotateX(90deg);
    transform-origin: 0 50%  -18px;
  }
}

/*開閉エリア*/
.about__detail-histroy-body{
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0%);
  transition: all 0.5s;
  text-align: left;
  max-height: 0;
  overflow: hidden;
}
.about__detail-histroy-switch:checked ~ .about__detail-histroy-body{
  max-height: 500px;
  transition: all 0.6s;
}

.about__detail-histroy-body h3{
  font-weight: 500;
  margin-left: 50px;
}

.about__image ul{
  max-width: 1040px;
  list-style: none;
  padding-left: 80px;
}
.about__image ul li{
  width: 160px;
  height: 160px;
  display: inline-block;
  margin-right: 80px;
  margin-bottom: 20px;
}
.about__image ul li img{
  width: 160px;
  height: 160px;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 768px){ /*iPad,mobile用の設定*/
  .about{
    max-width: 768px;
    margin: 0 auto 55px;
  }
  .about__title{
    width: 116px;
    height: 39px;
    margin: 0 0 20px 24px;
    background-image: url("../images/top/About_Background_mobile.png");
    background-position: center;
    background-size: cover;
  }
  .about__title h2{
    font-family: "vdl-v7marugothic", sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    max-width: 768px;
    padding: 12px 0 0 15px;
    text-align: left;
  }
  .about__description p{
    text-align: left;
    padding: 0 24px 20px 51px;
  }
  .about__description .description_deco:before{
    content: ":";
  }
  .about__description .break-point:after{
    content: "\A"; /*具体的な記述の追加、内容は\A（改行を意味する）*/
    white-space: pre; /*コードの上の改行は半角スペースになる。半角スペースを改行として表示するための記述。*/
  }
  .hobby-novel{
    padding-left: 46px;
  }
  .about__image ul{
    max-width: 768px;
    list-style: none;
    padding: 0 17px;
    margin: 0 auto;
  }
  .about__image ul li{
    max-width: 120px;
    max-height: 120px;
    display: inline-block;
    margin: 0 17px 35px;
  }
  .about__image ul li img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

/*
  works
*/

.works{
  max-width: 1040px;
  margin: 0 auto 100px;
}
.works__title{
  width: 150px;
  height: 71px;
  margin: 0 0 20px 24px;
  background-image: url("../images/top/Works_Background.png");
  background-position: center;
  background-size: cover;
}
.works__title h2{
  font-family: "vdl-v7marugothic", sans-serif;
  max-width: 1040px;
  padding: 38px 0 0 26px;
  text-align: left;
}
.works__card ul{
  list-style: none;
  margin: 0 15px 0 50px;
  /* display: flex; */
  /* flex-wrap: wrap;
  justify-content: center; */
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns:repeat(auto-fit, minmax(290px, 1fr));
}
.works__card ul li{
  display: inline-block;
  text-align: left;
  max-width: 290px;
  margin-right: 35px;
  margin-bottom: 35px;
  background-color: #f3ebf4;
  border-radius: 10px;
}
.works__card ul li a{
  color: #333;
  text-decoration: none;
}
.works__picture{
  width: 100%;
  height: 163px;
  padding: 12px 12px 0;
  object-fit: cover;
  object-position: 0 0;

}
.works__description{
  padding-bottom: 12px;
}
.works__description h3{
  font-weight: 700;
  margin: 0 12px;
}
.works__description p{
  margin: 0px 12px;
}
.works__description .tool{
  font-size: 1.2rem;
}
.works__more-button{
  padding: 0;
  margin: 0 auto;
  display: block;
  width: 180px;
  text-decoration: none;
}
.works__more-box{
  border: solid 1px #7484d9;
  border-radius: 18px;
  line-height: 34px;
  color: #333;
  font-size: 1.4rem;
  position: relative;
  background-color: #fff;
}
.works__more-box::after{
  display: block;
  width: 180px;
  height: 36px;
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  border: solid 1px #7484d9;
  border-radius: 18px;
}
.works__more-button:hover{
  opacity: 1;
}
.works__more-button:hover .works__more-box::after{
  animation: light 1.5s infinite;
}
@keyframes light {
  0%{
    transform: scale(1.0);
    filter:
    drop-shadow(0px 0px 2px #fadce9)
    drop-shadow(0px 0px 2px #d2cce6)
    drop-shadow(0px 0px 5px #d2cce6);
  }
  50% {
    transform: scale(1.1, 1.45);
    opacity: 0;
    filter:
    drop-shadow(0px 0px 2px #fadce9)
    drop-shadow(0px 0px 2px #d2cce6)
    drop-shadow(0px 0px 5px #d2cce6);
  }
  100% {
    transform: scale(1.1, 1.45);
    opacity: 0;
  }
}

@media (max-width: 768px){ /*iPad,mobile用の設定*/
  .works{
    max-width: 768px;
    margin: 0 auto 70px;
  }
  .works__title{
    width: 106px;
    height: 50px;
    margin: 0 0 20px 24px;
    background-image: url("../images/top/Works_Background_mobile.png");
    background-position: center;
    background-size: cover;
  }
  .works__title h2{
    font-family: "vdl-v7marugothic", sans-serif;
    max-width: 768px;
    padding: 25px 0 0 15px;
    text-align: left;
  }
}

/*
  news
*/

.news{
  max-width: 1040px;
  margin: 0 auto 120px;
}
.news__title{
  width: 114px;
  height: 63px;
  margin: 0 0 20px 24px;
  background-image: url("../images/top/news_Background.png");
  background-position: center;
  background-size: cover;
}
.news__title h2{
  font-family: "vdl-v7marugothic", sans-serif;
  max-width: 1040px;
  padding: 31px 0 0 26px;
  text-align: left;
}
.news__list{
  overflow:auto;
  max-width: 1040px;
  padding-top:12px;
  height: 300px;
  margin: 0 50px;
  text-align: left;
  border-top: double 8px #7484d9;
  border-bottom: double 8px #7484d9;
}
.news__list ol li{
  list-style: none;
  padding: 0 12px;
  margin-bottom: 30px;
}
.news__list ol li:last-child{
  margin-bottom: 20px;
}
.news__list ol li time{
  font-weight: 700;
}
.news__list ol li time::after{
  content:" :";
}
.news__list ol li h3{
  display: inline-block;
  font-weight: 700;
}

@media (max-width: 768px){ /*iPad,mobile用の設定*/
  .news{
    max-width: 768px;
    margin: 0 auto 90px;
  }
  .news__title{
    width: 90px;
    height: 49px;
    margin: 0 0 20px 24px;
    background-image: url("../images/top/news_Background_mobile.png");
    background-position: center;
    background-size: cover;
  }
  .news__title h2{
    font-family: "vdl-v7marugothic", sans-serif;
    max-width: 768px;
    padding: 24px 0 0 15px;
    text-align: left;
  }
  .news__list {
    margin: 0 51px;
  }
  .news__list ol li{
    padding-left: 12px;
  }
}


/*
  contact
*/

.contact{
  max-width: 1040px;
  margin: 0 auto 180px;
}
.contact__title{
  width: 149px;
  height: 64px;
  margin: 0 0 20px 34px;
  background-image: url("../images/top/Contact_Background.png");
  background-position: center;
  background-size: cover;
}
.contact h2{
  font-family: "vdl-v7marugothic", sans-serif;
  max-width: 1040px;
  padding: 31px 0 0 16px;
  text-align: left;
}
.contact__content{
  text-align: left;
  margin: 0 0 20px 51px;
}
.contact__content a{
  text-decoration: none;
  color: #333;
}
.contact__message{
  padding-bottom: 10px;
}
.contact__address{
  padding-left: 12px;
}
.contact__address span{
  display: inline-block;
  width: 75px;
}

/* .recent__state{
  text-align: left;
  padding-left: 64px;
} */

@media (max-width: 768px){ /*iPad,mobile用の設定*/
  .contact__title{
    width: 116px;
    height: 50px;
    margin: 0 0 20px 24px;
    background-image: url("../images/top/Contact_Background_mobile.png");
    background-position: center;
    background-size: cover;
  }
  .contact h2{
    font-family: "vdl-v7marugothic", sans-serif;
    padding: 24px 0 0 15px;
    text-align: left;
  }
}

/*
  footer
*/


.footer{
  color: #ffffff;
  text-align: center;
}
.footer__navigation{
  max-width: 1040px;
  margin: 0 auto 40px;
  display: block;
}
.footer__site-title{
  margin: 15px 0 20px;
}
.footer__site-title a{
  font-family: "vdl-penletter", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
}
.footer__site-title a img{
  object-fit: contain;
  object-position: center;
  width: 137px;
  height: 22px;
}
.footer__site-map{
  margin-bottom: 20px;
}
.footer__site-map ul li{
  display: inline-block;
  margin-right: 40px;
}
.footer__site-map li a{
  font-family: "vdl-v7marugothic", sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  color: #ffffff;
}
.footer__site-map li:last-child{
  margin-right: 0;
}
.footer__site-map li a:visited{
  color: #ffffff;
}
.footer__site-map li a:hover{
  /* opacity: 1.0; */
}

.footer__navigation .sns{
  flex: 2;
  min-width: 145px;
}
.footer__navigation .sns li{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 60px;
}
.footer__navigation .sns li:last-child{
  margin-right: 10px;
}
.footer__navigation .sns li a{
  display: inline-block;
  width: 36px;
  height: 36px;
  padding:4px 2px 0;
}

.sns-link .twitter_icon{
  width: 30px;
  height: 30px;
}
.sns-link .instagram_icon{
  width: 32px;
  height: 32px;
}

.footer small{
  font-size: 1.2rem;
  display: block;
  text-align: center;
  padding-bottom: 20px;
}

.body__wrap{
  background-image: url("../images/common/FooterBackground_L.png");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto;

}

@media (max-width: 480px){ /*mobile用の設定*/
  .footer__navigation{
    margin: 0 auto 20px;
  }
  .footer__site-title{
    margin-bottom: 15px;
  }
  .footer__site-map{
    margin-bottom: 16px;
  }
  .footer__site-map ul li{
    display: inline-block;
    margin-right: 20px;
  }
  .footer__site-map ul li:last-child{
    margin-right: 0px;
  }
  .footer__navigation .sns li{
    display: inline-block;
    margin-right: 50px;
  }
  .footer__navigation .sns li:last-child{
    margin-right: 10px;
  }

  .body{
    background-image: url("../images/common/FooterBackground_mobile_L.png");
  }
}

/* 上に戻るボタン */
.arrow-top-wrap{
  width: 41px;
  height: 41px;
  position: fixed;
  right: 20px;
  bottom: 70px;
  border-radius: 10px;
  /* mix-blend-mode: difference; */
  background-color: #fff;
}
.arrow-top{
  width: 41px;
  height: 41px;
  display: block;
  position: fixed;
  right: 20px;
  bottom: 70px;
  border: 2px solid #7484d9;
  border-radius: 10px;
}
.arrow-top .arrow{
  display: block;
  width: 3px;
  height: 22px;
  position: absolute;
  top: 8px;
  left: 17px;
  border-radius: 3px;
  background-color: #7484d9;
  content: "";
}
.arrow-top .arrow::before{
  display: block;
  width: 3px;
  height: 12px;
  position: absolute;
  top: -2px;
  left: -3px;
  transform: rotate(45deg);
  border-radius: 3px;
  background-color: #7484d9;
  content: "";
}
.arrow-top .arrow::after{
  display: block;
  width: 3px;
  height: 12px;
  position: absolute;
  top: -2px;
  left: 3px;
  transform: rotate(-45deg);
  border-radius: 3px;
  background-color: #7484d9;
  content: "";
}



